body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: #4d5ae5;
}

img {
  display: block;
}

/*--------------HEADER STYLES--------------------*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: linear-gradient(rgba(46, 47, 66, 0.7));
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
}

.header-logo-item {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.page-header {
  border: 1px solid #e7e9fc;
}

.menu-link:active,
.menu-link:focus,
.menu-link:hover {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  content: "";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:first-child() {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  content: "";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:last-child() {
  margin-right: 0;
}

.current {
  position: relative;
}

.current:hover::after {
  position: absolute;
  left: 0;
  content: "";
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.page-address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.address-list:last-child() {
  display: flex;
  margin-right: 0;
}

.address-link-item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  content: "";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-item:active,
.address-link-item:focus,
.address-link-item:hover {
  color: #404bbf;
}

/*--------------HERO STYLES--------------------*/

.hero-section {
  background-color: #2e2f42;
  background: url("../images/background-image/Dark-bg.png"),
    url("../images/background-image/people-office.jpg");
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 316px;
  padding-right: 316px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hero-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  max-width: 496px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-order-button {
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  min-width: 169px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-button:active,
.hero-order-button:focus,
.hero-order-button:hover {
  background: #404bbf;
}

/*----------------ADVANTAGES STYLES----------------------*/
.advantages-icon-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-header {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  gap: 24px;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.team-section {
  background-color: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
}

.container-employee {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-menu-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  height: 428px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-person-header {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-person-position {
  text-align: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-person-icon {
  fill: #f4f4fd;
}

.team-social-link-item :hover {
  background-color: #404bbf;
  cursor: pointer;
}

.team-social-media {
  display: flex;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
}

.team-social-list-item {
  position: relative;
}

.team-social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------PORTFOLIO STYLES-------------------------*/

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-app-overlay {
  position: relative;
}

.portfolio-menu-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-menu-item:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:nth-child(4) {
  margin-bottom: 0;
}
.portfolio-menu-item:nth-child(5) {
  margin-bottom: 0;
}
.portfolio-menu-item:last-child {
  margin-bottom: 0;
}

.portfolio-menu-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-menu-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-menu-item:focus .app-overlay-content,
.portfolio-menu-item:hover .app-overlay-content {
  transform: translateY(0%);
}

.portfolio-menu-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-app-overlay {
  overflow: hidden;
}

.app-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*--------------FOOTER STYLES--------------------*/
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer-container {
  display: flex;
}

.page-footer-top-block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 120px;
}

.footer-logo-item {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.page-footer-content {
  max-width: 264px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.page-footer-bottom-block {
  display: flex;
  flex-direction: column;
}

.footer-social-menu {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:hover {
  background-color: #31d0aa;
  cursor: pointer;
}

.footer-icon {
  fill: #ffffff;
}

.footer-social-content {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
