body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #434455;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: #4d5ae5;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------------HEADER STYLES--------------------*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-item {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.page-header {
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:last-child() {
  margin-right: 0;
}

.menu-link:focus,
.menu-link:hover {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.page-address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.address-list:last-child() {
  display: flex;
  margin-right: 0;
}

.address-link-item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-item:focus,
.address-link-item:hover {
  color: #404bbf;
}

/*--------------HERO STYLES--------------------*/

.hero-section {
  background-color: #2e2f42;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/background-image/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 316px;
  padding-right: 316px;
}

.hero-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  max-width: 496px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-order-button {
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  min-width: 169px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-button:focus,
.hero-order-button:hover {
  background: #404bbf;
}

/*----------------ADVANTAGES STYLES----------------------*/
.advantages-icon-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-header {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  gap: 24px;
}

.advantages-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

/*-----------------TEAM STYLES--------------------*/

.team-section {
  background-color: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
}

.container-employee {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-menu-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  height: 428px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-person-header {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-person-position {
  text-align: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-person-icon {
  fill: #f4f4fd;
}

.team-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.team-social-link:focus,
.team-social-link:hover {
  background-color: #404bbf;
}

.team-social-link:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------PORTFOLIO STYLES-------------------------*/

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-app-overlay {
  position: relative;
}

.portfolio-menu-item {
  width: calc((100% - 48px) / 3);
  overflow: hidden;
}

.portfolio-menu-item:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:nth-child(4) {
  margin-bottom: 0;
}
.portfolio-menu-item:nth-child(5) {
  margin-bottom: 0;
}
.portfolio-menu-item:last-child {
  margin-bottom: 0;
}

.portfolio-menu-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-menu-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-menu-item:focus .app-overlay-content,
.portfolio-menu-item:hover .app-overlay-content {
  transform: translateY(0%);
}

.portfolio-menu-item:focus,
.portfolio-menu-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-app-overlay {
  overflow: hidden;
}

.app-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*--------------FOOTER STYLES--------------------*/

.footer-logo-item {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer-top-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 120px;
}

.page-footer-container {
  display: flex;
  align-items: baseline;
}

.page-footer-social-container {
  display: flex;
  flex-direction: column;
}

.footer-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-social-content {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-social-link:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: #f4f4fd;
  height: 24px;
  width: 24px;
}

.footer-subscribe-email-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-label {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
}

.footer-subscribe-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
}

.footer-send-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
}

.footer-send-icon {
  fill: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 20px;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 408px;
  min-height: 584px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  max-width: 360px;
  margin-bottom: 16px;
  margin-top: 72px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-wrapper {
  width: 360px;
}

.modal-label-container {
  width: 360px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.input-content {
  font-family: inherit;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-content:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-input-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 16px;
}

.input-content:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.textarea-content {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  padding-top: 8px;
  padding-left: 16px;
}

.textarea-content::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  fill: #ffffff;
  background-color: #404bbf;
}

.textarea-content {
  width: 360px;
  height: 138px;
}

.modal-conditions-container {
  display: flex;
  flex-direction: row;
  width: 360px;
  margin-top: 16px;

  margin-bottom: 24px;
}

.modal-conditions-checkbox-label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-link {
  text-decoration: underline;
}

.modal-own-checkbox {
  display: flex;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
}

.modal-conditions-checkbox:checked
  + .modal-conditions-checkbox-label
  .modal-own-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #ffffff;
}

.modal-own-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

.modal-conditions-checkbox-label {
  display: flex;
  width: 338px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
}
