body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: #4d5ae5;
}

img {
  display: block;
}

/*--------------HEADER STYLES--------------------*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-item {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.page-header {
  border: 1px solid #e7e9fc;
}

.menu-link:active,
.menu-link:focus,
.menu-link:hover {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:last-child() {
  margin-right: 0;
}

.page-address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-list:last-child() {
  display: flex;
  margin-right: 0;
}

.address-link-item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link-item:active,
.address-link-item:focus,
.address-link-item:hover {
  color: #404bbf;
}

/*--------------HERO STYLES--------------------*/

.hero-section {
  background-color: #2e2f42;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 316px;
  padding-right: 316px;
}

.hero-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  max-width: 496px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-order-button {
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  min-width: 169px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  height: 56px;
  border: none;
}

.hero-order-button:active,
.hero-order-button:focus,
.hero-order-button:hover {
  background: #404bbf;
}

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-container {
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-header {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  gap: 24px;
}

.advantages-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-list-item {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  width: calc((100% - 72px) / 4);
}

.team-section {
  background-color: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
}

.container-employee {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-menu-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  height: 380px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-person-header {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-person-position {
  text-align: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

/*---------------PORTFOLIO STYLES-------------------------*/

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-menu-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-menu-item:nth-child(4) {
  margin-bottom: 0;
}
.portfolio-menu-item:nth-child(5) {
  margin-bottom: 0;
}
.portfolio-menu-item:last-child {
  margin-bottom: 0;
}

.portfolio-menu-header {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin: 16px;
  margin-bottom: 8px;
}

.portfolio-menu-content {
  display: flex;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-top: 8px;
  margin-right: 314px;
}

/*--------------FOOTER STYLES--------------------*/

.footer-logo-item {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
